<div class="section-title">
</div>
<article class="home-index">
  <div class="search-area">
    <p>Potepan Shareで未体験の旅を</p>
      <%= form_with url: search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
      <% end %>
  </div>
</article>
